<select
    *ngIf="!multiple"
    [(ngModel)]="viewValue"
    [disabled]="disabled">
    <option value="" disabled *ngIf="placeholder">
        {{ placeholder }}
    </option>
    <option *ngFor="let option of options; trackBy:getOptionValue(option)" [ngValue]="option">
        {{ getOptionLabel(option) }}
    </option>
</select>
<select
    *ngIf="multiple"
    [(ngModel)]="viewValue"
    [disabled]="disabled"
    multiple>
    <option value="" disabled *ngIf="placeholder">
        {{ placeholder }}
    </option>
    <option *ngFor="let option of options; trackBy:getOptionValue(option)" [ngValue]="option">
        {{ getOptionLabel(option) }}
    </option>
</select>