@import '../variables.scss';
@import './checkbox-utility.scss';

@include ngt-checkbox-radio-base;

.ngt-checkbox-indicator {
    @include ngt-checkbox-radio-indicator;
    border-radius: $ngt-border-radius;

    input:checked ~ & {
        @include ngt-checkbox-radio-indicator-checked($ngt-checkbox-background-image);
    }
    input:checked:active ~ & {
        @include ngt-checkbox-radio-indicator-checked-active($ngt-checkbox-background-image);
    }
    input:focus ~ & {
        @include ngt-checkbox-radio-indicator-focus;
    }
    input:active ~ & {
        @include ngt-checkbox-radio-indicator-active;
    }
    input:disabled ~ & {
        @include ngt-checkbox-radio-indicator-disabled;
    }
    input:disabled:checked ~ & {
        @include ngt-checkbox-radio-indicator-disabled-checked($ngt-checkbox-background-image);
    }
}

.ngt-checkbox-label {
    @include ngt-typography;

    input:disabled ~ & {
        @include ngt-checkbox-radio-label-disabled;
    }
}