@import '../checkbox/checkbox-utility.scss';

@include ngt-checkbox-radio-base;

.ngt-radio-indicator {
    @include ngt-checkbox-radio-indicator;
    border-radius: 50%;
    
    input:checked ~ & {
        @include ngt-checkbox-radio-indicator-checked($ngt-radio-background-image);
    }
    input:checked:active ~ & {
        @include ngt-checkbox-radio-indicator-checked-active($ngt-radio-background-image);
    }
    input:focus ~ & {
        @include ngt-checkbox-radio-indicator-focus;
    }
    input:active ~ & {
        @include ngt-checkbox-radio-indicator-active;
    }
    input:disabled ~ & {
        @include ngt-checkbox-radio-indicator-disabled;
    }
    input:disabled:checked ~ & {
        @include ngt-checkbox-radio-indicator-disabled-checked($ngt-radio-background-image);
    }
}

.ngt-radio-label {
    @include ngt-typography;

    input:disabled ~ & {
        @include ngt-checkbox-radio-label-disabled;
    }
}