<ngt-control>
    <ngt-text
        [(ngModel)]="stringValue"
        placeholder="Enter a value">
    </ngt-text>
</ngt-control>

<ngt-control>
    <ngt-number
        [(ngModel)]="numberValue"
        placeholder="Enter a value"
        decimals="3">
    </ngt-number>
</ngt-control>

<ngt-control>
    <ngt-select
        [(ngModel)]="selectValueObject"
        placeholder="Enter a value">
        <option *ngFor="let option of optionsObject" [ngValue]="option.value">
            {{ option.label }}
        </option>
    </ngt-select>
</ngt-control>

<ngt-control>
    <ngt-select
        [(ngModel)]="selectValueArray"
        placeholder="Enter a value">
        <option *ngFor="let option of optionsArray" [ngValue]="option">
            {{ option }}
        </option>
    </ngt-select>
</ngt-control>

<ngt-control>
    <ngt-checkbox
        [(ngModel)]="checkboxValue"
        label="Save preference">
    </ngt-checkbox>
</ngt-control>