$spacer:                    1rem;
                            // 1rem (default), or any value > 0	Specifies the default spacer value for our spacer utilities.
$enable-rounded:            true;
                            // true (default) or false	Enables predefined border-radius styles on various components.
$enable-shadows:            true;
                            // true or false (default)	Enables predefined box-shadow styles on various components.
$enable-gradients:          true;
                            // true or false (default)	Enables predefined gradients via background-image styles on various components.
$enable-transitions:        true;
                            // true (default) or false	Enables predefined transitions on various components.
$enable-hover-media-query:  true;
                            // true or false (default)	…
$enable-grid-classes:       true;
                            // true (default) or false	Enables the generation of CSS classes for the grid system (e.g., .container, .row, .col-md-1, etc.).
$enable-print-styles:       true;
                            // true (default) or false	Enables styles for optimizing printing.

@import '~bootstrap/scss/bootstrap.scss';

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.7em;
}

section {
    margin-bottom: 3rem;
}

pre {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

table tbody {
    tr:nth-child(even) {
        background: #f6f8fa;
    }
    code {
        background: rgba(27, 31, 35, 0.05);
        white-space: nowrap;
        color: inherit;
    }
}