<label>
    <span *ngIf="!multiple" class="ngt-autocomplete-item">
        {{ getOptionLabel(viewValue) }}
    </span>
    <ng-container *ngIf="multiple">
        <span *ngFor="let item of viewValue; trackBy:getOptionValue(item)" class="ngt-autocomplete-item">
            {{ getOptionLabel(item) }}
        </span>
    </ng-container>
    
    <span class="ngt-autocomplete-filter">
        <input
            #inputRef
            [(ngModel)]="filter"
            [disabled]="disabled"
            [placeholder]="hasValue ? '' : placeholder"
            (focus)="onInputFocus()"
            (blur)="onInputBlur($event)"
            (keydown.Enter)="onInputEnterPress($event)"
            (keydown.ArrowUp)="onInputArrowUpPress()"
            (keydown.ArrowDown)="onInputArrowDownPress()"
            (keydown.Escape)="onInputEscapePress()"
            (keydown.Backspace)="onInputBackspacePress()"
            (keydown.Tab)="onInputTabPress()"
            (keypress)="onInputKeypress($event)"
        />
        <span
            class="ngt-autocomplete-filter-placeholder"
            [innerHTML]="hasValue || filter ? filter : placeholder">
        </span>
    </span>
</label>

<div
    #dropdownRef
    class="ngt-autocomplete-dropdown"
    (click)="onDropdownClick()">
    <div
        *ngFor="let option of filteredOptions; let i = index; trackBy:getOptionValue(option)"
        [ngClass]="{highlighted: highlightedIndex === i}"
        class="ngt-autocomplete-option"
        (mouseenter)="onDropdownOptionHover(i)"
        (mousemove)="onDropdownOptionHover(i)"
        (click)="onDropdownOptionClick(option)">
        {{ getOptionLabel(option) }}
    </div>
</div>