@import '../variables.scss';

$ngt-input-background:              $ngt-background;
$ngt-input-border-color:            $ngt-border-color;
$ngt-input-border-radius:           $ngt-border-radius;
$ngt-input-padding:                 $ngt-padding-vertical $ngt-padding-horizontal;

$ngt-input-focus-text-color:        $ngt-text-color;
$ngt-input-focus-background:        $ngt-input-background;
$ngt-input-focus-border-color:      $ngt-focus-border-color;
$ngt-input-focus-shadow-size:       0.2rem;
$ngt-input-focus-shadow-color:      $ngt-focus-shadow-color;
$ngt-input-focus-transition:        $ngt-transition-duration;

$ngt-input-disabled-background:     $ngt-disabled-background;

@mixin ngt-input-base {
    @include ngt-typography;

    display: block;
    width: 100%;
    padding: $ngt-input-padding;
    background-color: $ngt-input-background;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $ngt-input-border-color;
    border-radius: $ngt-input-border-radius;
    box-sizing: border-box;
    transition:
        border-color ease-in-out $ngt-input-focus-transition,
        box-shadow ease-in-out $ngt-input-focus-transition;

    @if $ngt-use-shadows {
        box-shadow: inset 0 1px 1px $ngt-shadow-color;
    }
}

@mixin ngt-input-focus {
    color: $ngt-input-focus-text-color;
    background-color: $ngt-input-focus-background;
    border-color: $ngt-input-focus-border-color;
    outline: none;

    @if $ngt-use-shadows {
        box-shadow:
            inset 0 1px 1px $ngt-shadow-color,
            0 0 0 $ngt-input-focus-shadow-size $ngt-input-focus-shadow-color;
    } @else {
        box-shadow: 0 0 0 $ngt-input-focus-shadow-size $ngt-input-focus-shadow-color;
    }
}

@mixin ngt-input-disabled {
    background-color: $ngt-input-disabled-background;
    opacity: 1;
}

@mixin ngt-input {
    @include ngt-input-base;

    &::placeholder {
        color: $ngt-placeholder-color;
    }
    &:focus {
        @include ngt-input-focus;
    }
    &:disabled {
        @include ngt-input-disabled;
    }
}